@model SearchView
@{
    ViewBag.Title = "Top Cars";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


    <div class="checkyours">
        <!--displaying the top 5 cars of the year here -->
        <h1 class="container">The Top 5 Safe Cars for the Year</h1>
        <form asp-controller="Home" asp-action="carratings" method="post">
            <div class="container" style="padding-bottom:6vw">
                <i class="fas fa-trophy" type="submit" style="color:gold; font-size:6vw; margin-left:46vw; padding-bottom:1vw"></i>
            </div>
            <input type="submit" value="Click Me to View" style="color:white; margin-left:46vw; padding-top:2vw; padding-bottom :2vw; font-size:1vw; border:none; cursor:pointer">
        </form>
        </div>

            <!--output display table-->
            <div style="overflow-x:auto; padding:0vw 13vw 0vw 13vw;">
                <table class="searchtable">
                    <tr>
                        <th>Model Year</th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Overall</th>
                        <th>Overall Front</th>
                        <th>Overall Side</th>
                        <th>Rollover</th>
                        <th>Rollover Possibility</th>
                    </tr>
                    <tbody>
                        @if (Model.safetyrating != null)
                        {
                            @foreach (var item in Model.safetyrating)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ModelYear)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Make)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Model)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OverallRating)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OverallFrontCrashRating)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OverallSideCrashRating)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RolloverRating)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RolloverPossibility)
                                    </td>
                                    <td style="background-color:black !important">
                                        <a href="@Url.Action("checkyours",new { id=item.VehicleId})" style="cursor: pointer; background:none; color:red; width: 5vw;font-size: 2vw;padding: 0vw 0vw 0vw 0vw ;">
                                            <i class="fas fa-info-circle"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
    
