@model SearchView
@{
    ViewBag.Title = "Check Yours";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
<div class="checkyours">
    <!--setting up the search fields-->
    <h1 class="container">Search For Your Cars Safety Rating Here</h1>
    <div class="container"><i class="fas fa-search"></i></div>
    <form asp-controller="Home" asp-action="checkyours">
        <ul class="container">
            <li>
                <select asp-for="yearsearch" asp-items="Model.Years">
                    <option value="All Years">All Years</option>
                </select>
            </li>
            <li>
                <select asp-for="makesearch" asp-items="Model.Makes">
                    <option value="All Makes">All Makes</option>
                </select>
            </li>
            <li>
                <select asp-for="modelsearch" asp-items="Model.Models">
                    <option value="All Models">All Models</option>
                </select>
                <br />
            </li>
        </ul>
        <input class="submitsearch" type="submit" value="Submit" />
    </form>

    <!--output display table "-->
    <div style="overflow-x:auto;padding:0vw 4vw 0vw 4vw;">
        <table class="searchtable">
            <tr>
                <th>Model Year</th>
                <th>Make</th>
                <th>Model</th>
                <th>Overall</th>
                <th>Overall Front</th>
                <th>Front Driver</th>
                <th>Front Passenger</th>
                <th>Overall Side</th>
                <th>Side Driver</th>
                <th>Side Passenger</th>
                <th>Rollover</th>
                <th>Rollover Possibility</th>
                <th>Side Pole</th>
                <th>Complaints</th>
                <th>Recalls</th>
            </tr>
            <tbody>
                @if (Model.safetyrating != null)
                {
                    @foreach (var item in Model.safetyrating)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ModelYear)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Make)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Model)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OverallRating)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OverallFrontCrashRating)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FrontCrashDriversideRating)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FrontCrashPassengersideRating)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OverallSideCrashRating)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SideCrashDriversideRating)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SideCrashPassengersideRating)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RolloverRating)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RolloverPossibility)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SidePoleCrashRating)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ComplaintsCount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RecallsCount)
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>


<script>
    /*function to show hide the popup*/
    function popupfunction(id, name, email, comments) {
        if (id == null) {
            document.querySelector(".popup").style.display = "flex";
        }
        else {
            document.querySelector(".popup").style.display = "flex";
            document.getElementById("name").value = name;
            document.getElementById("email").value = email;
            document.getElementById("Id").value = id;
            document.getElementById("comments").value = comments;

        }
    }
    function popofffunction() {
        document.querySelector(".popup").style.display = "none";
    }

    function showdetails(id, name, email, comments) {
        if (id == null) {
            document.querySelector(".popup").style.display = "flex";
        }
        else {
            document.querySelector(".popup").style.display = "flex";
            document.getElementById("name").value = name;
            document.getElementById("email").value = email;
            document.getElementById("Id").value = id;
            document.getElementById("comments").value = comments;

        }
    }
</script>

<!--button for comments -->
<div class="comments">
    <i class="fas fa-comments" style="color:palegreen"></i>
    <h6 style="margin-left:2vw">Comments & Suggestions</h6>
    <!--designing function for a popup to add comments-->
    <a class="commentbutton" onclick="popupfunction()">Comment</a>
</div>

<!-- pop up form for comments addition -->
<div class="popup" id="popup">
    <div class="popup-content">
        <i class="fas fa-comments" style="color:forestgreen; background:none; font-size:3vw;"></i>
        <i class="fas fa-times-circle" onclick="popofffunction()" style="color:black; background:none; font-size:2vw; cursor:pointer; float:right"></i>
        <form asp-controller="Home" asp-action="AddComment" style="background-color:#f1ecec">
            <div asp-validation-summary="All"></div>
            <input type="hidden" asp-for="Id" />
            <input placeholder="Your Name Required" asp-for="name" style="text-align:center;" required />
            <input type=email placeholder="Your Email xyz@abc.com" asp-for="email" style="text-align:center;" required" />
            <textarea placeholder="Add/Edit Your Comments Here" asp-for="comments" rows="7" cols="10" required></textarea>
            <input type="submit" value="Submit" style="background-color:red; font-size:1.5vw; justify-content:center; color:white;"></>
        </form>
    </div>
</div>

<!--displaying the comments-->
<div class="commentsdiv" style="overflow-x:auto;">
    <table id="commenttable" class="commentstable">
        <tr>
            <th style="width:15%">UserName</th>
            <th style="width:20%">Email</th>
            <th style="width:60%">Comment</th>
            <th style="width:5%; background-color:black; color:black;">.....</th>
        </tr>
        <tbody>
            @if (Model.commentdetails != null)
            {
                @foreach (var item in Model.commentdetails)
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.comments)
                </td>
                <td style="background-color:black !important">
                    <a onclick="popupfunction('@item.Id','@item.name','@item.email','@item.comments')" style="cursor: pointer;"> <i class="fas fa-edit" style="background:none; color:cornflowerblue; font-size:1vw;"></i></a>
                    <a href="@Url.Action("DeleteComment",new { id=item.Id})" style="cursor: pointer;"> <i class="fas fa-trash" style="color:red; background:none; font-size:1vw;"></i></a>
                </td>
            </tr>
                }
            }
        </tbody>
    </table>
</div>





